[2017-08-10 13:24] DeflatedPickle opened #3 "Mod detector: Invalid control character"
Whilst opening the mod detector, some mods won't be able to load due to a `json.decoder.JSONDecodeError`, this is because the `mcmod.info` file contains a carriage returns or newlines within a string literal in the JSON data.

[2017-08-10 13:27] #3 closed

[2017-08-10 22:39] DeflatedPickle opened #4 "[Issue] Image Viewer: Chessboard and grid not tiling"
When tiling the image in the image viewer, the Chessboard and grid do not tile as well.

[2017-08-11 00:14] DeflatedPickle opened #5 "[Issue] Image Viewer: Chessboard and grid do not scale"
The Chessboard and grid in the image viewer do not scale with the image.

[2017-08-11 00:41] DeflatedPickle opened #6 "[Issue] Main Program: Treeview folder file count"
The file counter in the main tree does not show the proper amount of files in a directory (or counts hidden files).

[2017-08-11 01:08] DeflatedPickle opened #7 "[Issue] Text Editor: Quotation Syntax Highlighting"
Syntax highlighting for quotations carries on until the final quotation is found.

[2018-04-13 09:52] Bluestripe12 opened #9 "There is no quiver.exe"
There is no quiver.exe nor is there any in depth instructions, either get some in depth instructions if it's not a bug or fix the missing exe

[2018-05-17 10:43] Azrael-1123 commented on #9
it isn't a bug, just compile the code.

[2018-09-27 19:49] BrayXKun commented on #9
how does one compile the code to get the .exe?

[2019-03-12 03:37] MerryPlace opened #10 "Cannot figure out how to compile project"
This seems like a great program, and I would really love to try it out, but I cannot figure out how to compile it for the life of me. I'm very much a beginner with python so I've spent about 2 hours now trying to figure out how to get this program running. At this point I've given up after approaching this from as many angles as stackoverflow would steer me to no avail...
1. trying to run `python

[2019-03-12 05:23] MerryPlace commented on #10
I decided to try again and woooowee is this a handful. I can successfully get a build but it doesn't open so I looked through the logs and I can see that I'm missing an insane amount of files. All but one of them are outdated files in System32 and SysWOW64's downlevel that I had to put back into them (which is really really weird). and then one other error,

which I am absolutely stumped on. No id

[2019-10-31 00:10] Tyler-Hecht opened #11 "Cannot Edit Textures"
I can open the textures but I cannot edit them. The edit button is gray.

[2019-11-04 11:49] DeflatedPickle commented on #9
@Bluestripe12, of course there isn't an EXE in the *source*, it;s the *source* of the project, not the *releases* of the project. Please, use one of the releases in the releases tab.

But build instructions are a good idea, I'll put some in. But it's pretty much just going to be; install Python, install dependencies, run `setup.bat` (which really should be named "build.bat").

Thanks for chiming i

[2019-11-04 11:52] #9 closed, assigned to DeflatedPickle

[2019-11-04 11:59] DeflatedPickle commented on #10
@NoahOrtega , I am so very sorry for wasting your time! I never checked this project and thought it had been completely forgotten about. I'll be re-making it and I'll include build instructions this time!

Honestly, I was just a terrible programmer when I made this, I didn't think anyone would use it and I'm not very good socially, so I've been pretty scared to reply to issues in the past.

[2019-11-04 12:00] #10 closed, assigned to DeflatedPickle

[2019-11-04 12:04] DeflatedPickle commented on #11
@RadiateGold, yes! Because I never made an editor. See, it's called an "image *viewer*". But good news! You can use my stand-alone image editor, [Rawky](https://github.com/DeflatedPickle/Rawky) (I'm re-writing this program soon, it'll include a trimmed-down, more Minecraft-focused version of Rawky).

[2019-11-04 12:04] #11 closed, assigned to DeflatedPickle

[2019-11-04 12:05] #4 closed

[2019-11-04 12:05] #5 closed

[2019-11-04 12:06] #6 closed

[2019-11-04 12:06] #7 closed

[2020-08-02 05:06] todo[bot] opened #12 "Extract default packs in a secondary thread, making use of zip4j's ProgressMonit..."
https://github.com/DeflatedPickle/Quiver/blob/f2366ea25031c797e35f27b5c606cf218924ee0a/core/src/main/kotlin/com/deflatedpickle/quiver/backend/util/PackUtil.kt#L71-L76

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f2366ea25031c797e35f27b5c606cf218924ee0a. It&#x27;s been assigned to @DeflatedPickle because they committed the code.

[2020-08-22 08:12] MerryPlace commented on #10
@DeflatedPickle Missed your reply sorry, really happy to see you're still working on this project after so much time! If you ever need a bug tester hmu 👍

[2020-08-22 13:37] DeflatedPickle commented on #10
@NoahOrtega, I wasn't working on it for the longest time, but I've had more requests than I thought to continue it. The re-write has already taken place, and I think I moved the master branch to it. This time, it's in Kotlin using Swing, has a dockable layout and plugin and per-plugin config support, though it isn't ready for release just yet.

I'll put up testing/building instructions, and I'll p

[2020-09-28 17:30] todo[bot] opened #13 "Add a toolbar to switch between registered viewers"
https://github.com/DeflatedPickle/Quiver/blob/21f85324fa6b1488b156cd589e8dd65f8975b0ff/filepanel/src/main/kotlin/com/deflatedpickle/quiver/filepanel/FilePanel.kt#L37-L40

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 21f85324fa6b1488b156cd589e8dd65f8975b0ff. It&#x27;s been assigned to @DeflatedPickle because they committed the code.

[2020-09-28 17:30] todo[bot] opened #14 "Change to a list of viewers"
https://github.com/DeflatedPickle/Quiver/blob/21f85324fa6b1488b156cd589e8dd65f8975b0ff/launcher/src/main/kotlin/com/deflatedpickle/quiver/launcher/main.kt#L44-L47

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 21f85324fa6b1488b156cd589e8dd65f8975b0ff. It&#x27;s been assigned to @DeflatedPickle because they committed the code.

[2020-09-29 22:01] #13 closed, assigned to DeflatedPickle

[2020-09-29 22:01] #14 closed, assigned to DeflatedPickle

[2020-10-11 23:53] kinker31 opened #15 "Issues with reading lang files"
### Error Stack
[code]

### System Info

- Windows 10 Insider Build
- AMD CPU and GPU
-  Java 8

### Debug Trace
[code]

[2020-10-12 18:25] DeflatedPickle commented on #15
So, this is to do with the lang system of haruhi. [Relevant line](https://github.com/DeflatedPickle/Quiver/blob/5361c482989ce55266dfa8f94505b550c60aeca4/launcher/src/main/kotlin/com/deflatedpickle/quiver/launcher/window/menu/MenuBar.kt#L16). Though I'm not sure why it can't find the lang

I tested the release before posting it, it worked. I guess I'll have to register the menus in a suitable event

[2020-10-12 18:47] DeflatedPickle commented on #15
I've just tested it again and this error never pops up, but I am being a slight dummy with the code. It should *really* wait until the program is finished loading before using translated strings

[2020-10-12 19:09] DeflatedPickle commented on #15
@kinker31 do you get the same issue with this fix?
[Quiver-1.1.1.zip](https://github.com/DeflatedPickle/Quiver/files/5367039/Quiver-1.1.1.zip)

[2020-10-13 12:32] kinker31 commented on #15
Nope, but I do get this:
[code]
...alongside a debug trace like this:
[code]

[2020-10-14 20:42] nm17 opened #17 "Unable to build from source"
Windows 10, openjdk 11
[code]

[2020-10-14 20:47] nm17 opened #18 "Plugin missing element dependencies"
Windows 10, Oracle java 8, https://github.com/DeflatedPickle/Quiver/releases/tag/v1.0.0-alpha

Bat file logs:
[code]

Pop up menu:
[code]

[2020-10-14 23:37] DeflatedPickle commented on #17
1. See 2
2. `QuiverSettings` seems to have never been committed, I have no idea why
3. See 2

Until I fix #15, this won't be fixed, however the file contains;
[code]

[2020-10-14 23:45] DeflatedPickle commented on #18
So, if this isn't caused by #17, I'm completely stumped on it. I've never seen this kind of error and will have to look into it. Though you will possibly run into #15 if it is fixed by my suggestion in #17, until I migrate some things. I was a bit busy today, sorry!

[2020-10-15 21:48] DeflatedPickle commented on #15
Alright, does it still happen in this?
[Quiver-1.1.2.zip](https://github.com/DeflatedPickle/Quiver/files/5388097/Quiver-1.1.2.zip)

[2020-10-15 23:06] kinker31 commented on #15
Nope, I get this:
[code]
With a debug trace like this:
[code]

[2020-10-15 23:42] DeflatedPickle commented on #15
My bad, I forgot to test that one and get the same error. How's this one?
[Quiver-1.1.3.zip](https://github.com/DeflatedPickle/Quiver/files/5388391/Quiver-1.1.3.zip)

[2020-10-16 11:13] kinker31 commented on #15
No dice, sadly.

Error:
[code]
Debug Trace:
[code]

[2020-10-16 15:17] DeflatedPickle commented on #15
Right. I honestly don't get why you're having this, but I'm not. Unless you feel like debugging the plugin class loader for why it won't load the resources, I think I'm just going to have to ditch the lang system

[2020-10-16 16:07] #17 closed, assigned to DeflatedPickle

[2020-10-16 16:44] nm17 commented on #18
Just in case, I tried to build distZip and run the bat file (HEAD 7cdfb7c4ca36079e23a915098097a0952d612412) and the same error happens.
![explorer_TW420ZEfCV](https://user-images.githubusercontent.com/23419131/96285658-4b9bc700-0ff0-11eb-96d4-cdb96a07a5f2.png)

[2020-10-16 17:06] DeflatedPickle commented on #18
This is an incomplete error. I can't help unless you expand that "more details" bit

[2020-10-16 17:30] DeflatedPickle commented on #15
I asked a friend to help debug this - with the exact same code as me, they're getting the same error and I don't. We weren't able to figure this out. So I'm removing the lang system but leaving this open for if anyone can/wants to help

[2020-10-16 17:34] nm17 commented on #18
@DeflatedPickle it's the same as the last one.

[2020-10-16 17:43] nm17 commented on #15
Can reproduce by running gradle `:run` task, if it's still important.

[2020-10-16 17:54] DeflatedPickle commented on #18
Apparently this can be caused by a higher Java version than Java 8. Are you *sure* you're running *with* Java 8? I'll have the logger log the running Java version so you can check

[2020-10-16 17:56] DeflatedPickle commented on #15
If you can reproduce it, you're welcome to make a fork it, make a branch at 7cdfb7c and try to fix it. But it's more important to me that it *works* for people rather than if it can theoretically be translated, so I'm just removing the lang system

[2020-10-16 18:29] nm17 commented on #18
@DeflatedPickle I uninstalled all java versions and installed only `openjdk8` and `openjdk8jre` from chocolatey. Now it gives me the error from #15. I think you can close this issue for now (maybe add a note about java 8 in README for new users?).

[2020-10-16 18:33] nm17 commented on #18
Also dropping support for Java 8 later on might be a good idea, but that's just my thought and not needed right now.

[2020-10-16 18:56] DeflatedPickle commented on #18
I haven't had time to update the README as I've been trying to fix #15, but I will. The problem with updating is most people who've tried this have used Java 8, which means that's the latest they have

[2020-10-16 18:56] #18 closed, assigned to DeflatedPickle

[2020-10-16 22:15] DeflatedPickle commented on #15
@kinker31, how's this? I've removed the localization system, which should stop those errors
[Quiver-1.0.1.zip](https://github.com/DeflatedPickle/Quiver/files/5394531/Quiver-1.0.1.zip)

[2020-10-17 09:58] kinker31 commented on #15
Finally works!

[2020-10-17 10:35] nm17 commented on #15
Seems to be working.

[2020-10-17 10:38] nm17 opened #21 "Add drag and drop support to replace currently selected texture or add a new texture"
Just a feature request.

[2020-10-17 14:13] DeflatedPickle commented on #15
Great. I'm leaving this open as I *do* want a localization system so it can be translated, even though this bug is related to haruhi, that doesn't get the traction this project does. I'm really not sure why the resources aren't being loaded. The first step for anyone who wants to debug this, if you're reading this, is to debug the plugin class loader in [`ClassGraphUtil`](https://github.com/Deflat

[2020-10-18 13:07] nm17 opened #22 "3D viewer for more complex objects"
Something like a 3D preview would be insanely helpful in this tool. An example of this can be found in MC Texture Studio:
![](https://a.fsdn.com/con/app/proj/minecrafttexturestudio/screenshots/texture-preview3.png/max/max/1)

[2020-10-18 16:01] DeflatedPickle commented on #22
I'll look into a loader for vanilla models (and may as well support basic OBJs as I've already written code for 'em in another project), after properly learning how the system works, though it won't instantly support some Forge flags, as there are a few shortcuts that I'd need to look into

The system will require LWJGL, as they have an OpenGL panel, though only in LWJGL 2, which requires more set

[2020-10-18 19:29] AlexTMjugador opened #23 "PackSquash integration"
I've just found this application and, as the author and current maintainer of [PackSquash](https://github.com/ComunidadAylas/PackSquash), the only open-source Minecraft resource pack optimizer I and its users are aware of, I think Quiver could benefit substantially from having PackSquash integration. Server side resource packs currently have a limit of 100 MiB, so staying below that threshold is i

[2020-10-18 20:49] DeflatedPickle commented on #23
Thanks for bringing this to my attention! I haven't heard of it before (and wasn't aware there was a limit with server-side packs), but it sounds very useful!

I intend to add an 'export' option to zip up packs for distribution; it shouldn't be too taxing to add a checkbox to 'Use PackSquash'

My only worry is the integration with PackSquash. I haven't had to include native dependencies before, so

[2020-10-18 21:21] AlexTMjugador commented on #23
I'm glad you found it useful and in scope for Quiver!

About the coding side of the integration, PackSquash is a command line application that accepts a settings file in its input stream, and some command line parameters. It also outputs messages to the standard output and error streams to let the user know progress and error information, and returns a non-zero exit code if something is very wrong

[2020-10-18 21:23] DeflatedPickle commented on #23
Sorry, the problem isn't with how to use the CLI, it's how to properly package it for use in-dev and when built

[2020-10-18 21:35] AlexTMjugador commented on #23
Oh, sure thing. Although the docs state you need to install the GStreamer libraries for the sake of user friendliness, all the GStreamer installer does that is relevant to PackSquash is copying some DLLs. PackSquash needs these DLLs on its directory or on a `%PATH%` directory to launch, and then some extra GStreamer plugins (which are also DLLs) to handle OGG, OGA, FLAC, WAV and MP3:
![DLL depende

[2020-10-18 22:00] DeflatedPickle commented on #23
That's not what I meant, sorry, but thank you for the explanation. It's integrating it into the Gradle build that I'm not sure about. It might be as simple as putting it in `lib/natives` then adding `from files('lib/natives/*')` to `distributions.main.contents`

[2020-10-18 22:20] DeflatedPickle opened #24 "Audio viewer"

[2020-10-18 22:41] AlexTMjugador commented on #23
I've never used Gradle, but yeah, something along the lines of that should work: treating PackSquash files like library files that are copied over. The trickiest part is getting the exact list of DLL that PackSquash requires for working completely, because it may require some trial and error, but once that's done, updating it should be as easy as replacing the executable. I consider the configurat

[2020-10-19 15:24] nm17 commented on #23
Maybe it's more reasonable to add it as an external tool just like in idea? It would run a certain console command and make it available to call from the upper menu. Something like this:

![idea64_K9lHHolWM3](https://user-images.githubusercontent.com/23419131/96471477-711f0f80-1240-11eb-80c4-1a69fa44cf46.png)
![idea64_L0RUhhzpbN](https://user-images.githubusercontent.com/23419131/96471469-6fede280

[2020-10-19 15:26] nm17 commented on #23
Or making something like `Tools -> PackSquash this texture pack` and then make the user specify the path to it in Quiver settings.

[2020-10-19 15:30] nm17 commented on #24
A good idea would be to detect if Audacity is installed and view it that way, although it might not be great for people who don't want to use a bunch of different apps for everything and just want to hear it from the app without any hassle.

[2020-10-19 15:31] DeflatedPickle commented on #23
I didn't really think through my prior reply and messed up. The binary would be added to `/tools/`. But I realize the more major problem here is that it's a native binary, so I'd have to include each system's binary

Having the user specify the path would work! That's probably the route I'll go, then if someone knows how to bundle it, they can work on a PR. And since it wouldn't use resources, it

[2020-10-19 15:35] DeflatedPickle commented on #24
@nm17, "viewers" are the previews shown in the file panel, such as the text or image viewers. It makes sense to provide a viewer for everything relevant to resource packs, so people can preview a file before opening/editing it

[2020-10-19 15:38] nm17 commented on #23
I would like to help, but I really don't understand Kotlin that well and the plugin in Quiver. Possibly, If needed, I can make a python script that downloads binaries for release and puts it in some folder.

[2020-10-19 15:46] DeflatedPickle commented on #23
1. I don't do Kotlin justice, I write it like a less verbose Java
2. The plugin system is [fully documented](https://github.com/DeflatedPickle/Rawky/wiki/Custom-Plugin)... in the wiki for the project I wrote it for
3. We unfortunately can't expect every user to have Python installed, but a Kotlin-based downloader can be written into the plugin, when I make it

[2020-10-19 17:31] DeflatedPickle commented on #21
With that commit, you can now drag files onto the file table to add them to the selected folder in the folder tree or drag them onto the file panel to replace the selected file in the file table

[2020-10-19 20:33] DeflatedPickle opened #25 "NBT viewer"

[2020-10-19 20:43] DeflatedPickle opened #26 "Extra resource exporter"
It would be nice to have an extractor for default Minecraft sounds into the current pack, that's possibly included as a step in creating a default pack and/or as a menu item, [as sounds aren't included in the default resource pack](https://minecraft.gamepedia.com/Tutorials/Sound_directory)

[2020-10-20 17:14] DeflatedPickle commented on #22
Attempting again to use `lwjgl3-awt`, I'm getting hit with errors. I've submitted an [issue](https://github.com/LWJGLX/lwjgl3-awt/issues/25) for it. I'll push the beginnings to a branch and continue when the issue is resolved

[2020-10-20 21:32] AlexTMjugador commented on #23
After reading your comments, I came across these thoughts on how to implement this in a way that would be convenient for users and feasible for developers:

- Create a build script that downloads the latest release of PackSquash for each operating system and packs it with the needed libraries for that operating system, and then copies that package to the Quiver distribution, inside the `/tools` fo

[2020-10-20 22:12] DeflatedPickle commented on #23
1. I hadn't thought about downloading them during build-time, though I'd prefer to download the binaries for each system available, then check what the current operating system is before targeting one
2. It possibly will be a plugin, as I mostly make this as a way to further my plugin framework development. If downloading PackSquash was done at run-time, I could add a config field to the plugin, f

[2020-10-23 06:35] #21 closed, assigned to DeflatedPickle

[2020-10-23 06:35] #26 closed, assigned to DeflatedPickle

[2020-10-25 18:56] DeflatedPickle commented on #22
My issue was closed, but it wasn't resolved. I'll see if I can write a skeleton Swing implementation that I can later modify to use OpenGL if it ever works

[2020-10-25 21:41] DeflatedPickle commented on #22
That issue was resolved, so I set up a plugin for it, but now I'm getting this [issue](https://github.com/LWJGLX/lwjgl3-awt/issues/30), so I'll have to put this on hold until then. I might see about writing a model viewer with Swing, but it'll probably be quite a bit slower than an OpenGL alternative

[2020-10-26 12:43] DeflatedPickle opened #28 "File predicates"
It might be nice to be able to generate files from a base file

Example: wool colours; make a single grey-scale texture and the coloured varients are generated on-export/build

[2020-10-27 13:16] DeflatedPickle opened #29 "File links"
When a file, such as a texture, has a linked file, like a model file, a button should be added to the file panel to link to that file (or a secondary view for that file should be added)

[2020-10-27 13:20] DeflatedPickle opened #30 "File folding"
Files with matching names, such as particle frames, should be squashed into a tree and have unique viewers that, for instance, could show them all as an animated series, or in the case of armour, combine them

[2020-10-27 23:35] DeflatedPickle opened #31 "Pack migration"
There are multiple formats for packs. It would be nice to be able to migrate a pack forwards or backwards to a version, with checkboxes to remove unused textures or add missing textures from the version JAR

It would be annoying to write migrations between every version, so it might be easier to write migrators that can be chained

To-Do:
- [ ] [phantom](https://github.com/DeflatedPickle/phantom)

[2020-10-27 23:38] DeflatedPickle opened #32 "Importing ZIP and RAR files"
Packs are packaged and distributed as ZIPs (and sometimes RARs), it would be a helpful shortcut if these could be imported, with the files being extracted to a temporary or specific location

[2020-10-31 09:55] todo[bot] opened #33 "Add more items to FilePopupMenu, such as Cut, Copy, Paste, Replace, Delete"
https://github.com/DeflatedPickle/Quiver/blob/cf21dc660f0a3b4b299e972f2e419aec23a42be9/core/src/main/kotlin/com/deflatedpickle/quiver/frontend/menu/FilePopupMenu.kt#L9-L12

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in cf21dc660f0a3b4b299e972f2e419aec23a42be9. It&#x27;s been assigned to @DeflatedPickle because they committed the code.

[2020-10-31 09:58] DeflatedPickle opened #34 "Think about integrating version control"
It could be helpful in some cases to have backups of some files as they change. The best solution seems to be version control, with the ability to see each file's history

[2020-11-01 09:43] nm17 commented on #34
Built in small git client would be the best solution.

[2020-11-01 10:02] DeflatedPickle commented on #34
Git is what I was thinking, as that's all I've used. But it's how it should be presented to the user that I'm conflicted with

Some users might want control of when things are comitted, some might want branching, some might want rebasing. Some might want it all automated

I want users to at least be able to;
- See the history for a file
- Clear the history
- Revert a file to a previous version

Wh

[2020-11-01 11:04] DeflatedPickle opened #35 "Alternative textures/multi-pack exports"
Some texture packs have multiple releases, where some of the textures are swapped for new ones. It could be helpful to be able to name a texture some signifier after the full name for an alternative, that would be included instead of the original

Examples; `grass.32x.png`, `particles.pvp.png`

The signifiers would be included in a meta file in the main pack folder, as a list (`["32x", "pvp"]`)

[2020-11-01 17:26] todo[bot] opened #37 "Support more file links with an API similar to file viewers"
https://github.com/DeflatedPickle/Quiver/blob/4a2a04d6be7d2b9314c319d8470df9f2fd12c399/core/src/main/kotlin/com/deflatedpickle/quiver/frontend/menu/LinkedFilesPopupMenu.kt#L27-L32

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 4a2a04d6be7d2b9314c319d8470df9f2fd12c399 when #36 was merged. cc @DeflatedPickle.

[2020-11-01 17:42] #29 closed, assigned to DeflatedPickle

[2020-11-06 10:57] nm17 opened #38 "Make files in the editor drag-able out of the window to other programs"
**Is your feature request related to a problem? Please describe.**
It would be great if I could drag-and-drop files out of the viewer to other programs like GIMP.

**Describe the solution you'd like**
Make files drag-able out of the editor.

**Describe alternatives you've considered**
Right now, you can open files using the Open or Edit button, but dragging out files out of the texture pack editor

[2020-11-06 11:09] nm17 opened #39 "Can't drag and drop images from explorer to Quiver"
**Describe the bug**
Can't drag and drop images from explorer to Quiver
Version: 1.5.0

**To Reproduce**
Steps to reproduce the behaviour:
1. Open some texture pack
2. Drag and drop a file to the File Table

**Expected behaviour**
A file should be added along side other files.

**Screenshots**
https://www.youtube.com/watch?v=mlMZAW3nQFo

**Desktop (please complete the following information):**
 -

[2020-11-16 06:18] #39 closed, assigned to DeflatedPickle

[2020-11-16 06:19] DeflatedPickle commented on #39
Sorry that I took so long to get to this. I needed a break

[2020-12-21 10:20] giray opened #40 "array element type mismatch"
**Describe the bug**
When trying to launch `./Quiver` on Ubuntu 20.10 (java version  OpenJDK 11.0.9.1) GTK pop up says "array element type mismatch"

**To Reproduce**
Steps to reproduce the behaviour:
1. launch `./Quiver`

**Expected behaviour**
A GUI

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version 20.10

**Additional context**
Tried with both precompiled 1.6.2 a

[2020-12-26 12:23] DeflatedPickle commented on #40
Hello, sorry this took a bit to get to. I spent a bit earlier getting this running under Linux (Debian) on my Chromebook. It worked perfectly for me with the `openjdk-8-jdk` package, after adding `deb http://ftp.us.debian.org/debian sid main` to my `/etc/apt/sources.list` and running `sudo apt-get update`
**EDIT**: Apparently that source imports the Debian unstable branch and is considered bad adv

[2020-12-26 12:24] #40 closed, assigned to DeflatedPickle

[2021-01-05 19:05] DeflatedPickle opened #41 "Linux incompatibilities"
Development of Quiver is now mainly done on a Debian-based Linux distro. This has made me aware of certain issues related to Linux. Anytime an issue is found related to use of Quiver on Linux, it'll be added to this checklist
- [x] The location for new packs defaults to `~/.config/.minecraft` rather than `~/.minecraft`
- [x] The file path regex doesn't match against Unix paths as they require a dr

[2021-01-13 06:17] DeflatedPickle commented on #23
Just a quick update on this - I thought of a system I could integrate PackSquash into and have written it and a PackSquash plugin, and it all works
Hopefully, all that's needed now is;
- [x] PackSquash binary and license downloading at build/runtime
- [x] Update PackSquash
- [x] ~~Write a `Comparator` to sort `BulkExportStep`s after `PerFileExportStep`~~ Make `ExportStep` extend `Comparable` and o

[2021-01-13 13:40] AlexTMjugador commented on #23
Great work, keep it up! 🙌

I've skimmed through https://github.com/DeflatedPickle/Quiver/commit/b4df891b7c069301133baa6a0bb076595b9e6107 and it looks very nice, although I have seen that you use the old command line switches to customize PackSquash behavior:
https://github.com/DeflatedPickle/Quiver/blob/b4df891b7c069301133baa6a0bb076595b9e6107/packsquashstep/src/main/kotlin/com/deflatedpickle/quiv

[2021-01-13 17:05] DeflatedPickle commented on #23
Thank you! Great work with PackSquash! I tested it on a pack extracted from a version + the downloaded assets (such as sounds) whilst making sure the plugin was fine and it got down to a third of the size!

Yes, I've since decided against using these, but I originally wanted everything to be customisable with the Quiver config and therefor I was going to bundle `PackSquash v0.1.2`, but that would

[2021-01-16 01:22] DeflatedPickle commented on #23
@AlexTMjugador, I'm having a little trouble passing a config to the PackSquash executable. I would prefer to not have to write the `resource_pack_directory` to the file and instead read the config in myself, add the pack path and then write it into the `stdin` for PackSquash to use, however it always errors with [this error](https://github.com/ComunidadAylas/PackSquash/blob/fc4660a9c610e9fb784901c

[2021-01-16 14:38] AlexTMjugador commented on #23
Don't worry about that! In addition to attending university classes about Java and reading lots of docs over time, I coded several Bukkit plugins and software projects in Java that used "advanced topics" such as concurrency, reflection, networking and remote procedure calls, so I don't find it difficult to read Kotlin even though I didn't write a line of Kotlin code ever 😉

My understanding of the

[2021-01-18 00:02] DeflatedPickle commented on #23
@AlexTMjugador, it seems the part that was missing was setting the working directory of the process to the pack directory. As soon as it's set to the pack's path, it works fine. Thank you for that!

[2021-01-18 11:28] AlexTMjugador commented on #23
No problem, I'm glad it helped! 😀

[2021-01-23 20:20] todo[bot] opened #42 "Remove PackSquash processes from the shutdown list when they complete normally"
https://github.com/DeflatedPickle/Quiver/blob/e0186f40c6a0ecb3dc8da5a74a3e269920ef962b/packsquashstep/src/main/kotlin/com/deflatedpickle/quiver/packsquashstep/PackSquashStepPlugin.kt#L23-L28

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e0186f40c6a0ecb3dc8da5a74a3e269920ef962b. It&#x27;s been assigned to @DeflatedPickle because they committed

[2021-01-23 20:21] #42 closed, assigned to DeflatedPickle

[2021-02-09 10:20] DeflatedPickle commented on #23
I'm considering this feature done, so there's a new release for it

I chose to have PackSquash be downloaded at build-time and bundled with each release, though if it grows in size or there are requests, I can look into a system to download tools at run-time
I've written and bundled a [config](https://github.com/DeflatedPickle/Quiver/blob/44886b32894db8bc79bd0b9603d2108eff9d8340/data/packsquash.to

[2021-02-09 10:20] #23 closed, assigned to DeflatedPickle

[2021-02-12 12:58] AlexTMjugador commented on #23
Great work! I've ran Quiver and the PackSquash export step on my Debian PC and it worked flawlessly (yeah, I use Debian too). Even though it is a fairly simple thing, for some reason I loved the export step dialogs, with the progress bar and its status updates. I've just added a paragraph in the PackSquash README.md pointing to Quiver, as I've said in a comment.

[2021-03-16 22:46] tinyurl-com-u7do327 opened #45 "array element type mismatch"
**Describe the bug**
It gives you a warn and a Java error.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'C:\Users\yourname\Downloads\Quiver-1.7.0\Quiver-1.7.0'
2. Click on 'quiver.bat'
3. Get [WARN ] timestamp (x ms since JVM launch) [main/1] com.deflatedpickle.quiver.launcher.MainKt: main threw java.lang.IllegalArgumentException: array element type mismatch         com.deflatedpickl

[2021-03-16 22:56] DeflatedPickle commented on #45
Hello! Thank you for reporting this error, however it should have been reported to [Haruhi](https://github.com/DeflatedPickle/haruhi) as that's the indicated fail point given by the logged information. However, I'm faily sure I've seen others have this before and it was due to using Java 9+ (it's indicated in the README that this only works for Java 8), but you've cut off the part in the console t

[2021-03-16 22:59] tinyurl-com-u7do327 commented on #45
[DEBUG] 15:44:05 (603 ms since JVM launch) [main/1] com.deflatedpickle.quiver.launcher.MainKt: Installed JANSI for this terminal session
        com.deflatedpickle.quiver.launcher.MainKt.main(main.kt:45)
[INFO ] 15:44:05 (664 ms since JVM launch) [main/1] com.deflatedpickle.quiver.launcher.MainKt:
OS  : WINDOWS (windows 10)
Java: null (null)
Dir : C:\Users\royyi\Downloads\Quiver-1.7.0\Quiver-1.7.0

[2021-03-16 23:02] DeflatedPickle commented on #45
Well, that might have to be logged differently on each platform. Could you check what version it's running with outside of the program, please?

[2021-03-16 23:03] tinyurl-com-u7do327 commented on #45
java version "15.0.2" 2021-01-19
Java(TM) SE Runtime Environment (build 15.0.2+7-27)
Java HotSpot(TM) 64-Bit Server VM (build 15.0.2+7-27, mixed mode, sharing)

[2021-03-16 23:06] DeflatedPickle commented on #45
Well, that's pretty telling. Could you try running it with Java 8, please? In the future I will offer release artifacts with a Java 8 JVM bundled but I've been working on other things

[2021-03-16 23:06] tinyurl-com-u7do327 commented on #45
Ok.

[2021-03-16 23:08] tinyurl-com-u7do327 commented on #45
Working properly now, thanks!

[2021-03-16 23:08] #45 closed, assigned to DeflatedPickle

[2021-03-16 23:10] DeflatedPickle commented on #45
Glad to hear it! Thank you for trying out the program and please report any weird things you find with it and tell me any suggestions you have

[2021-03-17 00:54] AlexTMjugador commented on #45
Out of curiosity, has someone investigated this Java 9+ incompatibility thoroughly? If so, are there any ideas that may be relevant to fix it? I've skimmed through Haruhi and didn't find anything that obviously screams incompatibility with newer Java versions, but [Java 8 support is complicated](https://www.oracle.com/java/technologies/java-se-support-roadmap.html) if you are an Oracle customer, i

[2021-03-17 01:05] DeflatedPickle commented on #45
Nope, as far as I know this project only has me working on it and I'm too busy writing new features to justify it's existance, but it might be as simple as; it needs to be compiled with Java 9 to be ran with it. Also, anecdotally, when I originally shared [Rawky](https://github.com/DeflatedPickle/Rawky/tree/backup) around, which is a project that birthed [Haruhi](https://github.com/DeflatedPickle/

[2021-03-18 23:19] Froxcey opened #46 "Optifine support + Logo"
So basically optifine's cit functionality is quite cool, and those texture pack can be useful in many events(eg. SB texture pack). Basically this is mainly about the .property file editing. If this can support optifine (which I believe can be a lot of work), it would make this app much more awesome!

Also, I would want a PNG icon for this thing, if you can make it.

[2021-03-19 04:26] DeflatedPickle commented on #46
Thank you for submitting this issue! I've been wanting to support the features Optifine brings, and any other resource modifications that other mods bring, but I simply kept forgetting to look into the specifications. Though after having this brought up by someone else, I've had a quick look into it so I can leave some links for myself to look at later when I implement it

I've found their [showca

[2021-03-20 04:25] DeflatedPickle opened #47 "Sorting the file table by name causes the file panel to render the wrong file"

[2021-03-20 05:23] #47 closed, assigned to DeflatedPickle

[2021-03-22 09:43] todo[bot] opened #48 "Support image animation interpolation"
https://github.com/DeflatedPickle/Quiver/blob/bdceb414127c735b716db028b467bfe9d8a49893/imageviewer/src/main/kotlin/com/deflatedpickle/imageviewer/ImageViewerPlugin.kt#L35-L40

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in bdceb414127c735b716db028b467bfe9d8a49893. It&#x27;s been assigned to @DeflatedPickle because they committed the code.

[2021-03-22 20:41] dependabot-preview[bot] opened #49 "Dependabot couldn't find a build.gradle(.kts)? for this project"
Dependabot couldn't find a build.gradle(.kts)? for this project.

Dependabot requires a build.gradle(.kts)? to evaluate your project's current Java dependencies. It had expected to find one at the path: `/build.gradle(.kts)?`.

If this isn't a Java project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs](https

[2021-03-25 06:11] #49 closed, assigned to nobody

[2021-04-18 18:44] DeflatedPickle opened #71 "CTM support"

[2021-04-20 09:20] DeflatedPickle opened #73 "Bloxel viewer"
Separate from #22, on images, there should be a viewer making use of [`bloxel`](https://github.com/Pebaz/bloxel)

To-do:
- [x] Fork `bloxel`
- [ ] Rewrite the CLI using `argparse`
- [ ] Make builds of `bloxel` for Windows, macOS, and Linux using GitHub actions

[2021-04-20 09:41] DeflatedPickle commented on #31
After I've adjusted the codebase to something that treats the changes as steps that different versions can make use of, and can be reversed, [this](https://github.com/DeflatedPickle/phantom) project can be used for this

[2021-04-22 01:34] #33 closed, assigned to DeflatedPickle

[2021-04-22 01:34] todo[bot] opened #74 "Add a context menu to select items in the file table"
https://github.com/DeflatedPickle/Quiver/blob/c8128f58610924ab68ea18449b98ce818e7d02ee/core/src/main/kotlin/com/deflatedpickle/quiver/frontend/dialog/UsagesDialog.kt#L41-L46

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c8128f58610924ab68ea18449b98ce818e7d02ee. It&#x27;s been assigned to @DeflatedPickle because they committed the code.

[2021-04-22 01:35] #74 closed, assigned to DeflatedPickle

[2021-04-22 12:36] mathancy opened #75 ".bat unresponsive"
After downloading the most recent version of Quiver (1.9.1), and unzipping to desktop, the quiver.bat file doesn't do anything. No cmd prompt, no window, no tasks in Task Manager. Even running as Admin doesn't solve the issue. Perhaps a conflict with the most recent Windows update? (Update 20H2, OS Build 19042.928)

I'm running Windows 10 Home. Ryzen 5 3600 + R9 290. Memory is not an issue, nor is

[2021-04-22 12:38] DeflatedPickle commented on #75
Could you please let me know what version of Java you're using?

[2021-04-22 12:39] mathancy commented on #75
I'm using Java JRE 1.8.0_291

[2021-04-22 12:40] mathancy commented on #75
Small update, the command prompt does in fact open, but only for a split second. Without dissecting the script, I'm at a loss for why it crashes immediately

[2021-04-22 12:41] DeflatedPickle commented on #75
Oh, alright. Thanks for that. Could you try opening a command prompt in the same folder as the `.bat` and run `./Quiver.bat`? That should keep the console open so you can read the text in it

[2021-04-22 12:46] mathancy commented on #75
I figured this was the issue, I've checked my Java config and have found no way of setting "Home"

ERROR: JAVA_HOME is not set and no 'java' command could be found in your PATH.

Please set the JAVA_HOME variable in your environment to match the
location of your Java installation.

[2021-04-22 12:49] DeflatedPickle opened #76 "Convert between Java and Bedrock resourcepack formats"
There are a few old or abbandoned tools to convert between editions, but I haven't found any current ones. If none can be found, I'll attempt to write one

- [PCTexture2PE](https://github.com/rodrigojxd/PCTexture2PE)
- [ConvertJavaTextureToBedrock](https://npm.io/package/@ozelot379/convert-java-texture-to-bedrock)
- ~~[Universal-Minecraft-Resource-Converter](https://github.com/BJTMastermind/Univer

[2021-04-22 12:52] DeflatedPickle commented on #75
Ah, that'll be it then. Maybe ~~[this answer](https://superuser.com/a/284351)~~ [this guide](https://confluence.atlassian.com/doc/setting-the-java_home-variable-in-windows-8895.html) can help you set it?

[2021-04-22 13:04] mathancy commented on #75
I set the variables up correctly (using "echo %JAVA_HOME% in a command prompt fires back the correct location), however the command prompt for Quiver still closes immediately.

Oddly, now when trying to load the .bat through a command prompt directly, I get this error (that I definitely was not getting before).
![image](https://user-images.githubusercontent.com/81835335/115719127-b4834380-a373-11e

[2021-04-22 13:42] DeflatedPickle commented on #75
After looking around, this might be caused by gradle/gradle#1989? Here's a `.bat` with [this](https://github.com/gradle/gradle/issues/1989#issuecomment-395001392) proposed solution. Could you replace the current one with it and let me know if it fixes this?

[Quiver.zip](https://github.com/DeflatedPickle/Quiver/files/6358690/Quiver.zip)

[2021-04-22 17:52] mathancy commented on #75
Ah, worked like a charm! Brilliant! Thank you so much!

[2021-04-22 17:54] DeflatedPickle commented on #75
Great! I'll publish a hotfix immediately. Thank you for bringing this to my attention!

[2021-04-22 17:54] #75 closed, assigned to DeflatedPickle

[2021-04-22 17:55] mathancy commented on #75
Might I suggest a script to automatically set the Java path? Could be worth looking into, as that type of super user management would mean a lot less accessibility. Thanks so much for your help!

[2021-04-22 18:02] DeflatedPickle commented on #75
I think most installers for JRE's include a bit to add it to the path and set environment variables? Though I will add a note about it. I am hoping to offer releases with a similar directory setup but using executable binaries instead of the scripts, but I haven't looked into it yet

Of course! Quiver is written for the user! I'm always happy to help when I can!

Lastly, if you run into any other

[2021-05-17 18:50] DeflatedPickle opened #86 "Windows incompatibilities"
Development of Quiver is now mainly done on a Debian-based Linux distro. This means I can no longer personally find any issues that occur on Windows. Anytime an issue is found related to use of Quiver on Linux, it'll be added to this checklist

- [x] Classpath too long (#75)

[2021-05-17 20:02] DeflatedPickle opened #87 "Provide system binaries"
For those who don't have a Java 8 runtime enviroment and for those that don't care about having access to the library JARs, it would be useful to have system-specific binaries, built and released via GitHub Actions. As I can't settle on a single way to make a native binary, one will be provided for every JVM binary-making tool with a Gradle plugin

- [ ] [launch4j](https://github.com/TheBoegl/grad

[2021-05-20 23:44] AsterrKat commented on #86
I unzipped the .zip file and ran the quiver.bat, but an error message keep popping up telling me that there is an error in java. I have JRE 8 installed, but even reinstalling it does not fix the problem.
Error message:
[WARN ] 16:36:45 (3818 ms since JVM launch) [main/1] com.deflatedpickle.quiver.launcher.MainKt: main threw java.lang.IllegalArgumentException: array element type mismatch
        co

[2021-05-20 23:50] DeflatedPickle commented on #86
@AsterrKat, this is because you're not using Java 8, like it says in the [README](https://github.com/DeflatedPickle/Quiver/blob/rewrite/README.md#L16). This issue has already been recorded; #40 #45

[2021-05-21 19:01] AsterrKat commented on #86
Thank you! that issue was fixed, looks like Java automatically opens the highest version even if I have Java 8 installed...
But now this pops up, and I have no idea how to fix it. I am using quiver 1.9.1-hotfix and Java 1.8.0_291
[WARN ] 11:54:54 (10574 ms since JVM launch) [main/1] com.deflatedpickle.quiver.launcher.MainKt: main threw java.io.FileNotFoundException: config\deflatedpickle@file_tabl

[2021-05-21 23:44] DeflatedPickle commented on #86
@AsterrKat, this is an issue related to [haruhi](https://github.com/DeflatedPickle/haruhi) but for me, it's usually fixed by deleting the `config` directory or just launching the program a second time after it errors

[2021-05-22 00:57] AsterrKat commented on #86
There is not config directory to start with, and launching it 5 times in a roll does not solve the problem...

[2021-05-22 00:58] DeflatedPickle commented on #86
@AsterrKat, what if you make one?

[2021-05-22 05:47] AsterrKat commented on #86
[WARN ] 22:37:48 (12892 ms since JVM launch) [main/1] com.deflatedpickle.quiver.launcher.MainKt: main threw java.io.FileNotFoundException: config\deflatedpickle@file_table#1.0.1.json (Access is denied)
        com.deflatedpickle.quiver.launcher.MainKt$main$2.uncaughtException(main.kt:83)
Finally... after so long... quiver opened because apparently access denied means there is something, and I just

[2021-06-19 00:31] AstroOrbis opened #95 "array element type mismatch"
stroOrbis@astrospcomputer Quiver-1.10.0 % ./Quiver
[DEBUG] 20:30:23 (500 ms since JVM launch) [main/1] com.deflatedpickle.quiver.launcher.MainKt: Installed JANSI for this terminal session
	com.deflatedpickle.quiver.launcher.MainKt.main(main.kt:45)
[INFO ] 20:30:23 (606 ms since JVM launch) [main/1] com.deflatedpickle.quiver.launcher.MainKt:
OS  : MAC (mac os x)
Java: null (null)
Dir : /Users/Astro

[2021-06-19 03:37] DeflatedPickle commented on #95
This is a frequent issue related to not using Java 8, as seen in #40 and #45. I do say in the [README](https://github.com/DeflatedPickle/Quiver/blob/561417b8f6551426dc528393e68a9167093a2039/README.md#L17) to use specifically Java 8! Versions supporting newer Java versions are planned, however due to the issues seen [here](https://github.com/DeflatedPickle/Quiver/actions/runs/941514251), there's so

[2021-06-19 03:37] #95 closed, assigned to DeflatedPickle

[2021-06-19 20:24] AstroOrbis commented on #95
I installed java8 using `brew tap adoptopenjdk/openjdk && brew install --cask adoptopenjdk8` but it still gives the same error.

[2021-06-20 06:55] DeflatedPickle commented on #95
Try running `java -version`. It sounds like you haven't changed your `JAVA_HOME`

[2021-06-26 20:39] AstroOrbis commented on #95
You're right...

AstroOrbis@astrospcomputer ~ % java -version
openjdk version "15.0.2" 2021-01-19
OpenJDK Runtime Environment (build 15.0.2+7-27)
OpenJDK 64-Bit Server VM (build 15.0.2+7-27, mixed mode, sharing)

How would I change my JAVA_HOME?

[2021-06-26 20:41] AstroOrbis commented on #95
Nevermind, I found it!

[2021-06-26 20:43] DeflatedPickle commented on #95
Awesome! I hope you find Quiver helpful, but if you come across any quirks or wish there was a certain feature, please open new issues for them. I want as much user feedback as I can get

[2021-06-26 20:44] AstroOrbis commented on #95
Allright!

[2021-06-26 21:20] AstroOrbis commented on #95
Well crap, I installed and set JAVA_HOME using [this](https://stackoverflow.com/questions/21964709/how-to-set-or-change-the-default-java-jdk-version-on-macos) but it still gives me a (different) error:

java.lang.ExceptionInInitializerError
	at sun.misc.Unsafe.ensureClassInitialized(Native Method)
	at sun.reflect.UnsafeFieldAccessorFactory.newFieldAccessor(UnsafeFieldAccessorFactory.java:43)
	at s

[2021-06-26 21:26] DeflatedPickle commented on #95
So, this error is saying that Swing doesn't have a `LEFT` constant. I don't have a solution for that. I've never seen this

[2021-06-26 21:27] AstroOrbis commented on #95
Well crap. Do I try running Quiver in a VM? I just uninstalled all versions of Java on my computer and reinstalled JRE/JDK 8.

[2021-06-26 21:31] DeflatedPickle commented on #95
You could, I guess, or you could clone Quiver, initialize the submodules, open it in an IDE, fix the issue happening in the `haruhi` submodule (maybe `LEFT` can be replaced by `LINE_START`?), fix any further errors and PR the changes to [haruhi](https://github.com/DeflatedPickle/haruhi). If your JDK is missing that `LEFT` constant, I can't test what can be used instead, as it might also be missing

[2021-07-05 16:14] thatdumbdevit opened #106 "Default Photo Editing Software"
Hi,
When I click on the pencil icon to edit a texture, it opens Paint. What if I want to use another software to edit it, like Gimp or Photoshop?

[2021-07-05 18:25] DeflatedPickle commented on #106
Any "edit" action that Quiver performs to open a program uses *your* system default program associated with that file type. So if your system default is Paint, it'll open it in that

But there is a solution! Given you're using `v1.10.0`, you can click on the drop down of the "open" button, hover over "open in" and then click "add application". You will then be greeted by a dialog where you can ass

[2021-07-05 18:29] #106 closed, assigned to DeflatedPickle

[2021-07-05 19:55] thatdumbdevit commented on #106
What should I put in "args"? I'm going to use GIMP.

[2021-07-09 13:34] AlexTMjugador opened #107 "Update to PackSquash v0.3.0"
Recently I've been putting some work on PackSquash, and as a result I've released the first (and hopefully last!) release candidate for the new v0.3.0 version, v0.3.0-rc.1. I wanted to do a release candidate before an actual release to gather some user feedback about any issues that may happen before a final release, buy myself a bit of time to do some last touches and write a proper changelog and

[2021-07-10 22:02] DeflatedPickle opened #108 "Make use of Java's file watching"
Currently, Quiver has no way to know if a file in a pack was updated outside of Quiver and reload any context using it (if it has been). But this can be remedied by using a [watch service](https://docs.oracle.com/javase/tutorial/essential/io/notification.html)

[2021-07-11 13:27] DeflatedPickle commented on #106
So the arguments part is for any CLI arguments that the program can take that can modify the editing experience. It can be none, but some programs make heavy use of flags for useful settings. To find these, you can either read the documentation, `man` page or open a terminal and type the program name followed by `-h` or `--help`. In this case, `gimp -h`

From running this, I can see that `-a` migh

[2021-07-25 11:05] DeflatedPickle commented on #106
@thatdumbdevit, I've just checked the code on how this works and it turns out you do need to pass one argument, which for most programs should just be `{file}` though some might want `-o {file}` or `--open {file}`. It's up to the program dev to decide on, which is why it's up to the user to enter these bits in Quiver. Anyway `{file}` is then replaced by Quiver with the currently selected file and

[2021-07-26 10:22] #108 closed, assigned to DeflatedPickle

[2021-08-07 16:40] DeflatedPickle opened #115 "Data pack support"
As well as resource packs, it'd be nice to have support for putting together and editing data packs

## Resources
- https://minecraft.fandom.com/wiki/Tutorials/Creating_a_data_pack

[2021-08-13 17:58] thiagogebrimm opened #116 "When I open the .bat file it closes by itself, what can it be?"
**Describe the bug**
When I open the .bat file it closes by itself, what can it be?

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on .bat file

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Windows
 -

[2021-08-14 00:06] DeflatedPickle commented on #116
I need to write this in the README but if you need the log output, until I add in some log dump, you can start a terminal either in the same directory as the start script or anywhere else and `cd` your way to the start script. Anyway, my guess is this is related to you running it with a JRE newer than Java 8. The README specifies it must be run with Java 8, it is not saying that lightly. This is a

[2021-08-14 00:24] DeflatedPickle opened #117 "Support Java 9+"
Although it notes in the README to specifically use Java 8, a lot of people do not. Which is understandable. Some might not read it or some might not know what their system's default Java version is. The best solution would be a trial-and-error port of the code causing issues to make sure it works on every Java from 8 onwards

## Issues
- #18
- #40
- #45
- #95
- #116 (?)

[2021-09-26 18:51] #116 closed, assigned to DeflatedPickle

[2021-11-08 19:40] #117 closed, assigned to DeflatedPickle

[2022-02-22 16:21] AFCMS opened #152 "1.10.0 crashes with Ubuntu 20.04"
**Describe the bug**
![image](https://user-images.githubusercontent.com/61794590/155174008-ffd453b7-7a79-4615-a341-4ef7271c4b19.png)
![image](https://user-images.githubusercontent.com/61794590/155174257-1d079b71-0b5f-4f9e-a598-e7cd5ad4cea7.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: 20.04

[2022-02-22 16:28] AlexTMjugador commented on #152
I think that error might be caused due to the distro shipping with a newer Java version. Try using Java 8. There is more information in this tracking issue: https://github.com/DeflatedPickle/Quiver/issues/117

[2022-02-22 19:31] AFCMS commented on #152
Thanks, it works!

[2022-02-22 19:31] #152 closed, assigned to DeflatedPickle

[2022-06-01 19:39] Calebplaysgames opened #177 "Java Error with Quiver"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Litterally open the app

**Expected behaviour**
A clear and concise description of what you expected to happen.

It should open.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![nope](https://user-images.githubusercontent.com/53958544/171487

[2022-06-01 19:43] Calebplaysgames commented on #177
note: Yes Im using the exact linked java 8 version.

[2022-06-01 20:19] DeflatedPickle commented on #177
Are you sure? Do you have multiple versions of Java installed? I think you can check with `java --version`

[2022-06-01 20:43] Calebplaysgames commented on #177
nope, the minecraft form for texture pack creator programs says that quiver just has issues with newer windows 10 versions.

[2022-06-01 20:53] DeflatedPickle commented on #177
Ah, wonderful. I won't be debugging this as I only use Linux but if anyone else wants to figure it out and submit a PR, that'd be appreciated!

[2022-06-24 17:00] PolskiKocurek commented on #177
i have too this error and i have multiple java versions installed

[2022-07-29 03:20] GhostIsBeHere opened #182 "Crash on MacOS"
**Describe the bug**
Quiver crashes with `java.lang.NoClassDefFoundError: com/sun/java/swing/plaf/windows/WindowsLookAndFeel`

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the app
2. Crash

**Expected behaviour**
The app would not crash

**Logs / Crash**
[https://paste.gg/p/anonymous/71f037cd89b64afeb0a4f89f5c545597](https://paste.gg/p/anonymous/71f037cd89b64afeb0a4f89f5c545597)

**D